* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_88 {
  width: 100%;
  height: 893px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_89 {
  width: 100%;
  height: 894px;
  background: rgba(147,70,160,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_90 {
  width: 100%;
  height: 535px;
  background: rgba(217,217,217,1);
  opacity: 0.5;
  position: absolute;
  top: 273px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v1_91 {
  width: 907px;
  color: rgba(255,252,252,1);
  position: absolute;
  top: 214px;
  left: 33px;
  font-family: Inria Serif;
  font-weight: Bold;
  font-size: 42px;
  opacity: 1;
  text-align: left;
}
.v1_92 {
  width: 537px;
  height: 117px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 622px;
  left: 498px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
  font-family: Inter;
  font-weight: Light;
  font-size: 65px;
  opacity: 1;
  text-align: center;
}
.v1_93 {
  width: 100%;
  height: 132px;
  background: rgba(148,172,201,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 0px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  overflow: hidden;
}
.v1_94 {
  width: 884px;
  color: rgba(253,248,245,1);
  position: absolute;
  top: 59px;
  left: 236px;
  font-family: Inria Serif;
  font-weight: Bold;
  font-size: 78px;
  opacity: 1;
  text-align: center;
}
.v1_95 {
  width: 275px;
  color: rgba(255,249,249,1);
  position: absolute;
  top: 76px;
  left: 939px;
  font-family: Inria Serif;
  font-weight: Light;
  font-size: 49px;
  opacity: 1;
  text-align: center;
}
.v1_96 {
  width: 275px;
  color: rgba(255,249,249,1);
  position: absolute;
  top: 76px;
  left: 1110px;
  font-family: Inria Serif;
  font-weight: Light;
  font-size: 49px;
  opacity: 1;
  text-align: center;
}
.v1_97 {
  width: 196px;
  height: 196px;
  /*background: rgba(255,255,255,1);
  opacity: 1;
  overflow: hidden;*/
  position: absolute;
  top: 373px;
  left: 642px;
  
}
.v1_98 {
  width: 196px;
  height: 196px;
  background: url("../images/v1_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_99 {
  width: 24px;
  height: 24px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 25px;
}
.v1_100 {
  width: 73px;
  height: 171px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_101 {
  width: 171px;
  height: 171px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
}
.v1_102 {
  width: 196px;
  height: 171px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_103 {
  width: 110px;
  height: 49px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 147px;
  left: 86px;
}
.v1_104 {
  width: 677px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 641px;
  left: 443px;
  font-family: Inter;
  font-weight: Light;
  font-size: 65px;
  opacity: 1;
  text-align: center;
}
.v1_105 {
  width: 65px;
  height: 65px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 648px;
  left: 600px;
  overflow: hidden;
}
.v1_106 {
  width: 53px;
  height: 51px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 6px;
}
.v1_107 {
  width: 65px;
  height: 121px;
  background: url("../qr_code_images/v1_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 92px;
  overflow: hidden;
}
